## Data Structures

## Lists

Lists are Ordered collection of element that can hold items of different data types.

Lists are Mutable,Meaning their elements can be changed after creation.

In [ ]:
Fruits = ['apple','mango',1,2,True,5.6]
type(Fruits)

In [ ]:
Fruits[5]

In [ ]:
Fruits[1:5]

In [ ]:
len(Fruits)

In [ ]:
number = [1,2,3,4,5,6,7,8,9,20]
number[0:10:1]

In [ ]:
Fruits

In [ ]:
Fruits[1] = 'orange'
Fruits

In [ ]:
Fruits.append('grapes')
Fruits

In [ ]:
Fruits.insert(2,'Banana')
Fruits

In [ ]:
##
Fruits.extend(['mango','sugarcane'])
Fruits

In [ ]:
Fruits.pop(3)
Fruits

In [ ]:
Fruits.remove(5.6)
Fruits

In [ ]:
Fruits[::-1]

In [ ]:
Fruits.count('mango')

In [ ]:
for i in Fruits:
    print(i)

In [ ]:
for i in range(len(Fruits)):
    print(i)

In [ ]:
list1 = [1,None,2,3,None,4,5]

for i,name in enumerate(list1):
    print(i)
    if i%2 ==0:
        if name == None:
            list1.pop(i)
    else:
        pass
list1

In [ ]:
for fru,ind in enumerate(Fruits):
    print(f"Index {ind} : {fru}")

In [ ]:
for ind,name in enumerate(Fruits):
    print(ind)
    print(name)

In [ ]:
number = [1,3,4,55,44,0,5,6]
number.sort()

In [ ]:
number

In [ ]:
x,y,z,w,r = number
print(x)
# print(y)
# print(z)
# print(w)
# print(r)

In [ ]:
numb = [2,3,4]
x,y,z = numb
print(x,y,z)

In [ ]:
list1 = [1,2,3,4]
list2 =[4,56]
list3 = list1 + list2
print(list3)

In [ ]:
number = [1,2,3,4,5,6,7,8,9,20]
number[-8:-5:2]

## Tuples

Tuples are ordered collections of elements, similar to lists, but they are immutable, meaning their elements cannot be changed after creation.

In [ ]:
## create 
cordinates = (10,20)
type(cordinates)

In [ ]:
data = (1,'ami',2.5)
data

In [ ]:
data[1]

In [ ]:
data[1] = 'vinod'

In [ ]:
data2 = list(data)
data2

In [ ]:
data2[1] = 'vinod'
data2

In [ ]:
data = tuple(data2)
data

### Set

Sets are unordered collections of unique elements. They do not allow duplicate values

In [ ]:
fruits_sets = {'apple','mango','apple'}
type(fruits_sets)

In [ ]:
fruits_sets

In [ ]:
### 
list1 = [1,1,11,1,1,1,1,1,2,2,2,2,2,3,3,3,3,4,4,4,45,5,5,5,5]
list2 = set(list1)
list2

## Task

1) matrics create krna hai or ushka indexing

2) reverse string

3) palindrome Number

4) Prime Number

In [ ]:
string = 'yaduvanshiAMit'

string[::-1]

In [ ]:
## Matrics

matrix = [
         [1,2,3],
         [4,5,6],
         [7,8,9]
         ]

In [ ]:
matrix

In [ ]:
matrix[0]

In [ ]:
matrix[0][1]

In [ ]:
matrix[2][0]

In [ ]:
matrix[1][2]

In [ ]:
matrix[1:3]

In [ ]:
matrix[0:2]

In [ ]:
matrix = [
         [1,2,3],
         [4,5,6],
         [7,8,9]
         ]

In [ ]:
matrix[1:3]

In [ ]:
submatrix = [
    
    [matrix[1][1],matrix[1][2]],
    [matrix[2][1],matrix[2][2]]
]

In [ ]:
submatrix

In [ ]:
def calculate_marks():
    numberOfSubj = int(input("Enter Number Of Subject"))

    total = 0
    for i in range(1,numberOfSubj+1):
    #     print(i)
        subject_marks = int(input(f'Enter marks for subject {i}:'))
        total = total + subject_marks

    print(total)

    ## Percentage

    percatage = (total/(numberOfSubj*100))*100

    print(percatage)

    if percatage >=80:
        print(f"Your Total marks is {total} and your Percentage is {percatage} and You passed")
    else:
        print('Fail')

In [ ]:
 print("Marks List:", marks_list)
    print("Maximum Marks:", max_marks)
    print("Minimum Marks:", min_marks)
    print("Average Marks:", average_marks)

### dctionaries

### Creating a Dictionaries 

Definition: Dictionaries are collections of key-value pairs, allowing you to store and retrieve data using unique keys.

In [ ]:
students = {'name':'Amit','age':25,'location':'varanasi'}
type(students)

In [ ]:
students['name']

In [ ]:
students['location']

In [ ]:
### value change 

students['age'] = 26
students

In [ ]:
key_list = students.keys()
key_list

In [ ]:
values_list = students.values()
values_list

In [ ]:
item_lis = students.items()
item_lis

In [ ]:
type(item_lis)

In [ ]:
## update
students.update({'Working':True
})
students

In [ ]:
### 
students = [
    
    {'name': 'John Doe', 'age': 25, 'gender': 'Male'},
    {'name': 'Alice Smith', 'age': 22, 'gender': 'Female'},
    {'name': 'Bob Johnson', 'age': 30, 'gender': 'Male'}
]


type(students)

In [ ]:
type(students[0])

In [ ]:
students[0]

In [ ]:
students[0]['age']

In [ ]:
students[2]['name']

In [ ]:
students[2]['name'] = 'Amit'
students

In [ ]:
### Main Program

def student_marks_analysis():
    num_students = int(input("Enter the nymber of students: "))
    marks_list = []
    
    # input marks for each students and store in the list
    for i in range(num_students):
        marks = int(input(f"enter marks for student {i+1}: "))
        marks_list.append(marks)
    
    # Calculate and display maximum, minimum, and average marks
    max_marks = max(marks_list)
    min_marks = min(marks_list)
    total_marks = sum(marks_list)
    average_marks = total_marks / num_students
    
     # Find the index of the student with the highest and lowest marks
    highest_index = marks_list.index(max_marks)
    lowest_index = marks_list.index(min_marks)

    print("Marks List:", marks_list)
    print("Maximum Marks:", max_marks)
    print("Minimum Marks:", min_marks)
    print("Average Marks:", average_marks)
    
    # Display the students who scored the highest and lowest marks
    print("Student with Highest Marks:", f"Student {highest_index + 1}")
    print("Student with Lowest Marks:", f"Student {lowest_index + 1}")
    

student_marks_analysis()

In [ ]:
data = {101: {'name': 'Amit',
  'age': 45,
  'grades': ['45', '56', '78'],
  'subject': ['sst', 'sci', 'eng']},
 
 102: {'name': 'anil',
  'age': 89,
  'grades': ['45', '78', '75'],
  'subject': ['sci', 'eng', 'hindi']}}

In [ ]:
data[101]

In [ ]:
data[101]['name']

In [ ]:
### Nested Dictionaries

car1_model = {'Mercedes':1980}
car2_model = {'Audi':1970}
car3_model = {'Ambassodor':1980}

car = {'car1':car1_model,'car2':car2_model,'car3':car3_model}
car

In [ ]:
car['car1']['Mercedes']

In [ ]:
### Adding


students = {}

def add_student():
    student_id = int(input('Enter Student Roll No'))
    name = input("Enter Student Name")
    age = int(input('Enter student age: '))
    
    students[student_id] = {'name':name,
                           'age':age,}

print(students)

In [ ]:

def display_students():
    try:
        student_id = int(input('Enter Student Roll No'))
        name = students[student_id]['name']
        age = students[student_id]['age']
        print(name,age)
    except:
        print('Please Enter Valid NUmber')

In [ ]:
def display_students():
    student_id = int(input('Enter Student Roll No'))
    if student_id in students:
        name = students[student_id]['name']
        age = students[student_id]['age']
        print(name,age)
    else:
        print('Please Enter Valid NUmber')

In [ ]:
add_student()

In [ ]:
display_students()

In [ ]:
while True:
    print("1. Display Student Details")
    print("2. Add New Student")
    print("3. Exit")
    choice = int(input("Enter your choice (1, 2, or 3): "))
    
    if choice == 1:
        display_students()
    elif choice == 2:
        add_student()
    elif choice == 3:
        break
    else:
        print("Invalid choice. Please try again.")

In [ ]:
students = {}


### Student adding Function
def add_student():
    student_id = int(input('Enter Student Roll No'))
    name = input("Enter Student Name")
    age = int(input('Enter student age: '))
    grades = (input("enter sttudent grades (comma-separated): ")).split(",")
    gradelist = []

    for i in grades:
        gradelist.append(int(i))


    students[student_id] = {'name':name,
                           'age':age,
                           'grade':gradelist}

## Student display Function
def display_students():
    student_id = int(input('Enter Student Roll No'))
    if student_id in students:
        name = students[student_id]['name']
        age = students[student_id]['age']
        garde = students[student_id]['grade']
        print(name,age,garde)
    else:
        print('Please Enter Valid NUmber')
        
while True:
    print("1. Display Student Details")
    print("2. Add New Student")
    print("3. Exit")
    choice = int(input("Enter your choice (1, 2, or 3): "))
    
    if choice == 1:
        display_students()
    elif choice == 2:
        add_student()
    elif choice == 3:
        break
    else:
        break
        print("Invalid choice. Please try again.")

In [ ]:
### 
students = {}



student_id = int(input('Enter Student Roll No'))
name = input("Enter Student Name")
age = int(input('Enter student age: '))
grades = (input("enter sttudent grades (comma-separated): ")).split(",")
gradelist = []

for i in grades:
    gradelist.append(int(i))


students[student_id] = {'name':name,
                       'age':age,
                       'grade':gradelist}

In [ ]:
grades = (input("enter sttudent grades (comma-separated): "))
print(grades)

In [ ]:
type(grades)

In [ ]:
gradelist = grades.split(',')
print(gradelist)

In [ ]:
gradelist = ['45', '56', '89', '78']
out =[45,56,89,78]
newlist = []

for i in gradelist:
    newlist.append(int(i))
newlist

In [1]:
grades = [int(x) for x in input("Enter student grades (comma-separated): ").split(",")]
print(grades)

Enter student grades (comma-separated): 45,56,78,89
[45, 56, 78, 89]

In [2]:
number = [2,3,4,5,6,7,8]
even = []
for i in number:
    if i % 2 ==0:
        even.append(i)
    else:
        pass
print(even)

[2, 4, 6, 8]

In [3]:
even = [i for i in number if i%2 ==0]
print(even)

[2, 4, 6, 8]